body, html {
    background-color: #1f1223;
    color: antiquewhite;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: josefin-sans, 'Franklin Gothic Book', Arial;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: josefin-sans,Arial, monospace;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-family: josefin-sans, Arial, monospace;
    font-weight: 200;
    font-style: normal;
}

h3 {
    font-family: josefin-sans, Courier, monospace;
    font-weight: 100;
    font-style: normal;
}

p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: josefin-sans, Courier, monospace;
}

ul {
    line-height: 27px;
}

a {
    color: antiquewhite;
    transition: 0.2s;
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
}

.column {
    flex-direction: column;
    vertical-align: central;
    align-content: center;
}

.row {
    flex-direction: row;
    align-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.page-content {
    width: 100%;
}

/* Upper Navigation Bar */

#nav_bar {
    left: 0%;
    right: 0%;
    background-color: #1f1223;
    top: 0px;
    transition: top 0.4s;
    position: fixed;
    box-shadow: 3px 3px 5px #361f3e;
    z-index: 1;
}

.bar-item:first-child {
    float: left;
    font-weight: 500;
}

.bar-item {
    color: antiquewhite;
    float: right;
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
}

.bar-item:hover {
    color:antiquewhite;
    transition: 0.5s;
}

.bar-item:hover:after {
    transform: scaleX(1);
}

.bar-item::after {
    content: '';
    display: block;
    border-bottom: solid 4px #422c4c;
    transform: scaleX(0);
    transition: 400ms ease-in;
    transform-origin: 0% 50%;
}

/* Homepage */

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
}

#landing-container {
    padding-right: 7%;
    width: 100%;
}

#landing-text {
    float: right;
    font-size: 14px;
    padding-left: 60%;
}

.title {
    font-size: 350%;
    max-width: 100%;
    margin-top: 7%;
    margin-bottom: 3%;
}

.subheading {
    letter-spacing: 2px;
    max-width: 100%;
    font-size: 175%;
}

#fader-app {
    font-size: 150%;
}


#particles-js {
    position: absolute;
    float: left;
    align-items: center;
    padding-left: 5%;
    width: 40%;
    height: 40%;
    background-color: #1f1223;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
}

.arrow {
    border: black;
    border-color:#ff0000;
    border-width: 0 2px 2px 0;
    padding: 10px;
    display: inline-flex;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.4s;
    animation: bounce 3s infinite;
    margin: 30px;
}

.arrow:hover {
    -webkit-animation-play-state: initial;
    opacity: 50%;
    transform: scale(1.3) rotate(45deg);
}

/*@keyframes bounce {

}*/

/* About Page */

#about {
    width: 100%;
    background-color: #5a5244;
    min-height: 100vh;
    padding-top: 5%;
    vertical-align: central;
    align-content: center;
}

#about a {
    text-decoration: underline;
}

#about-container {
    width: 100%;
}

#profile-pic {
    max-width: 442.5px;
    height: auto;
    border-radius: 8px;
    text-wrap: normal;
}

#picture-container {
    padding-right: 2%;
    padding-left: 5%;
    padding-bottom: 3%;
}

#about-text {
    float: left;
    text-align: left;
    padding-left: 3%;
    width: 50%;
    align-self: flex-start;
    padding-bottom: 3%;
}


/* Education Page */

#education {
    width: 100%;
    background-color: #1f1223;
    min-height: 700px;
    padding-top: 3%;
    padding-bottom: 1%;
}

#education-title {
    width: 100%;
    padding-bottom: 2%;
}

#tum-logo {
    width: auto;
}

#university {
    margin-left: 20px;
    padding-top: 2%;
    padding-left: 20%;
    text-align: center;
}

#curriculum {
    float: right;
    min-height: 400px; 
    text-align: left; 
    padding-top: 2%;
    padding-left: 15%;
}


/* Projects Page */

#projects {
    overflow: hidden;
    background-color: #1f1223;
    min-height: 300px;
    padding-top: 3%;
    text-align: center;
    align-items: center;
    width: 100%;
}

#buttons {
    align-items: center;
    justify-content: center;
    text-decoration-color: #1f1223;
}

.button {
    border: none;
    outline: none;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #5a5244;
    cursor: grab;
    margin: 5px;
    transition: 0.3s;
}

.button:hover {
    background-color: #6f604b;
}

.button.active {
    background-color: antiquewhite;
    color: #1f1223;
}

.project {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 300px;
    margin: 4%;
    display: none;
    text-align: center;
    justify-content: center;
}

.show {
    display: block;
}

.project_text {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    background-color: #5a5244;
    align-items: center;
    justify-content: center;
    transition: visibility 0.4s, opacity 0.4s;
}

#projects-container {
    align-content: center;
}

.description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #5a5244;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 0.4s, opacity 0.4s;
}

.project:hover .description {
    visibility: visible;
    opacity: 1;
    background-color: #5a5244;
}


/* Footer */

#footer {
    height: 7em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
}

#links {
    padding: 6px;
    margin-bottom: 5px;
}

#links a {
    color: antiquewhite;
    transition: 0.4s;
    text-decoration: dashed;
}

#links a:hover {
    color: #988975;
}

#cr {
    text-align: center;
}

